* {
 box-sizing: border-box; 
}

a {
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden;  */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper__content {
  flex: 1;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}







/* header style */ 

.header .container{
  padding-top: 20px;
}

.header {
  background-color: #5973b1;
  min-height: 76px;
  width: 100%;
  position: relative;
}

.logo {
  display: inline-block;
}

.contacts{
  text-align: right;
  position: relative;
}

.contacts__telephone {
display: block; 
color: #ffffff;
font-size: 21px;
font-weight: 700;
}

.contacts__work {
  color: #ced5e8;
  text-decoration: underline;
}

.contacts__work:hover {
  text-decoration: none;
}

.contacts__work-main {
  display: inline-block;
}

.contacts__work-main:hover .contacts__popup {
  opacity: 1;
  transition: 2s;
}

.contacts__popup {
  position: absolute;
  top: 0;
  right: -2px;
  opacity: 0;
  margin-top: 58px;
  padding: 20px 20px 16px;
  text-align: left;
  border-radius: 3px;
  filter: drop-shadow(2.5px 4.33px 2.5px rgba(0,0,0,0.2));
  background-image: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
}


.contacts__popup::before {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 3px;
  transform: rotate(45deg);
  display: inline-block;
  background-color: #fff;
  position: absolute;
  bottom: 80%;
  right: 4px;
}

.contacts__popup::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 100%;
  right: 0;
  height: 24%;
}



.popup_graph1 {
  color: #3a5bbf;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}











/* content */

.container--main {
  width: 1044px;
  margin: 0 auto;
  display: flex;
}






/* sidebar*/

.menu {
  width: 200px;
  margin-top: 45px;
}

.menu__item {
  margin-bottom: 30px;
}

.menu__item:last-child {
  margin-bottom: 0px;
}

.menu__link {
font-size: 12px;
letter-spacing: 2px;
color: #5972b1;
font-family: "Roboto";
font-weight: 700;
text-transform: uppercase;
}

.menu__link--main--element {
  padding-left: 14px;
}

.menu__link--feed--element {
  padding-left: 11px;
}

.menu__link--crew--element {
  padding-left: 8px;
}

.menu__link:before {
  content:'';
  display: inline-block;
  height: 18px;
  vertical-align: middle;
}

.menu__link:hover {
  color: black; 
}


.menu__link--main:before{
  background-image: url(../img/icons/main_icon.png);
  width: 17px;
}

.menu__link--feed:before{
  background-image: url(../img/icons/feed_icon.png);
  width: 20px; 
}

.menu__link--crew:before{
  background-image: url(../img/icons/team_icon.png);
  width: 23px;
}

.menu__link--main:hover:before{
  background-image: url(../img/icons/main_icon__black.png);
}

.menu__link--feed:hover:before{
  background-image: url(../img/icons/feed_icon_black.png)
}

.menu__link--crew:hover:before{
  background-image: url(../img/icons/team_icon_black.png)
}

.menu__item--active .menu__link {
  color: black;
}

.menu__item--active .menu__link--main:before {
  background-image: url(../img/icons/main_icon__black.png);
  color: black; 
}

.menu__item--acive .menu__link--feed:before{
  background-image: url(../img/icons/feed_icon_black.png)
}

.menu__item--active .menu__link--crew:before{
  background-image: url(../img/icons/team_icon_black.png)
}

/* main */


.main {
  
  flex: 1;
  width: 880px;
  padding-top: 13px;
}

.title {
width: 700px;
height: 57px;
font-size: 49px;
line-height: 38px;
color: #262424;
font-family: "Roboto";
font-weight: 700;
}

.tariffs__title {
  margin-bottom: 19px;
  margin-top: 3px;
}

.tariffs__list {
  display: flex;
}

.tariffs__item {
  margin-right: 20px;
  width: 250px;
  padding-top: 40px;
  border: 1px solid transparent;
}

.tariffs__item:hover {
  border: 1px solid #e8e8ec;
}


.tariffs__item:last-child {
  margin-right: 0px;
}

.tariffs__picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tariffs__icon{
  width: 68px;
 height: 68px;
 border-radius: 50%;
 background-color: #5972b1;
 position: relative;
 display: inline-block;
}

.tarrifs__content {
  margin-top: 27px;
  font-size: 18px;
  color: #262424;
  font-weight: 300;
  text-align: center;
  
}

.tariffs__subtitle {
  font-size: 11px;
  letter-spacing: 3px;
  color: #262626;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.tariffs__description {
  line-height: 30px;
  margin-bottom: 16px;
}

.tariffs__text {
  padding-right: 28px;
  margin-left: 24px;
  margin-top: 21px;

}

.tariffs__content-list {
  text-align: left;
  margin-left: 23px;
}

.tariffs__content-item {
  margin-bottom: 8px;
}

.tariffs__content-item--second {
  margin-bottom: 4px;
}

.tariffs__content-item:before {
  content: '';
  height: 5px;
  width: 5px;
  display: inline-block;
  background: black;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 25px;
}

.tariffs__content-item:last-child {
  margin-bottom: 0px;
}

.tariffs__price {
  margin-top: 35px;
}

.tariffs__price-currency {
  display: inline-block;
  font-size: 34px;
  color: #252525;
  font-weight: 400;
}

.tariffs__price-value {
  display: inline-block;
  font-size: 54px;
  color: #252525;
  font-weight: 400;
}

.tariffs__list {
  text-align: center;
}





/* News */

.news__title {
  margin-top: 84px;
}

.content-list__item { 
  margin-bottom: 16px;
  padding-bottom: 30px;
  border-bottom: 2px solid #f4f4f4;
  display: flex;
}

.content-list__item:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}

.content-list__icon {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 1px solid transparent;
  overflow: hidden;
  margin-top: 9px;
}

.content-list__iconpicture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-list__description {
  width: 710px;
  margin-left: 20px;
}

.content-list__date {
  font-size: 14px;
    line-height: 30px;
    color: #656464;
    font-weight: 300;
}

.content-list__date--second {
  margin-top: 4px;
}

.content-list__title {
    font-size: 18px;
    line-height: 30px;
    color: #262424;
    font-weight: 800;
    margin-top: -4px;
}

.content-list__text {
  font-size: 18px;
  line-height: 30px;
  color: #262424;
  font-weight: 400;
  height: 115px;
}

.content-list__text--second  {
  padding-right: 15px;
}

.content-list__text--third {
  padding-right: 35px;
}







/* pagination */

.pagination {
  text-align: center;
  padding: 49px 0 60px 218px;
  display: flex;
  align-items: center;
}

.pagination__block {
  display: flex;
  align-items: center;
  font-weight: bold;
  /* padding-top: 7px; */

}

.pagination__list {
  display: flex;
  align-items: center;
}


.paginator__left, .paginator--active:hover:before {
  background-image: url(../img/icons/vector_left.png);
  width: 7px;
  height: 10px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.paginator__right {
  background-image: url(../img/icons/vector_right.png);
  width: 6px;
  height: 10px;
  background-repeat: no-repeat;
  margin-left: 19px;
}

.pagination__item--active .pagination__link{
 background-color: #5972b1;
 color: #fff;
}

.pagination__link:hover {
  background-color: #5972b1;
  color: #fff;
}

.pagination__link{
  color: #262424;
  font-weight: 700;
  display: block;
  border-radius: 3px;
  background-color: transparent;
  padding: 5px 9px;
}

.pagination__display {
  /* width: 142px;
  height: 25px; */
  font-size: 14px;
  line-height: 21px;
  color: #656464;
  font-family: "Roboto";
  font-weight: 300;
  margin-right: 1px;
  /* padding-right: 27px; */
  margin-top: 0px;
  margin-right: 25px;
}



/* footer */

.footer {
  background-color: #5973b1;
  padding: 17px 0px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  text-align: right;
}

.footer__logo {
  text-align: center;
  padding-right: 76px;
}

.footer__text {
  width: 233px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 300;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item { 
  margin-right: 10px;
}

.social__item:last-child{
  margin-right: 0px;
}

.social__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4d2e6;
  position: relative;
}

 .social__link:hover{
   background-color: #fff;
 }

 .social__icon{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
 }
 .social__title{
  color: white;
  padding-bottom: 11px;
 }
 
 .social__list {
  padding-right: 34px;
 }

 .container--header, .container--main, .container--footer {
  width: 1060px;
  margin: 0 auto;
}